# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\nlp_computer_vision_tutorial\News Category Classification\CBoW_LSTM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
