# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\nlp_computer_vision_tutorial\tensorflow 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
